# Visual Studio
.vs/
*.user
*.suo

# Laravel
/vendor/
/node_modules/
.env
.env.*
!.env.example

# Laravel runtime
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# IDE
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
